# Ігноруємо логи
sync_project/logs/
*.log

# Ігноруємо конфігураційні файли
sync_project/sync_project/prod_settings.py
sync_project/sync_project/local_settings.py

# Ігноруємо папку Middleware
Middleware/
Redis/

